---
// COMPONENTS //
import StoryCard from "../../components/StoryCard.astro";

// OTHERS //
import Layout from "../../layouts/Layout.astro";

// SECTIONS //
import Hero from "../../sections/about/Hero.astro";
import AboutMe from "../../sections/about/aboutMe.astro";
---

<Layout>
  <Hero />
  <AboutMe />
  <StoryCard />
  <img src="/dbry-2.png" alt="" class="w-full" />
  <img src="/dbry-3.png" alt="" class="w-full" />
  <img src="/dbry-4.png" alt="" class="w-full" />
  <img src="/dbry-5.png" alt="" class="w-full" />
  <img src="/dbry-6.png" alt="" class="w-full" />
  <img src="/contact.png" alt="" class="w-full" />
  <p>Whatsapp</p>
</Layout>
