---
const aboutMeTitle = "ABOUT ME";
const aboutMeContent = {
  title: "Curator of Human Experience",
  content:
    "Based in the vibrant heart of Mumbai, I am a dynamic Creative Director with a distinguished 14+ year journey of shaping compelling narratives for leading brands across sports, entertainment, and corporate sectors. My work is defined by a passionate commitment to high-impact storytelling that elevates brand integrity and captivates audiences. With a proven track record of leading creative vision from a nascent concept to flawless execution, I excel in managing both broadcast media and branded content. I am adept at directing cross-functional teams of up to 25 professionals, steering project budgets, and have a demonstrated history of boosting production efficiency by up to 40%. I am not just a director but a dedicated partner in building a brand's & creative legacy.",
};
---

<!-- About Me section -->
<section class="flex flex-col w-auto h-auto max-h-[561px] px-6 bg-[#0B0B0B]">
  <!-- Wrapper div added for styling -->
  <div class="flex flex-col w-full h-auto max-w-2xl py-[44px]">
    <!-- Heading -->
    <p
      class="font-['Roboto_Condensed'] font-semibold text-4xl leading-[125%] tracking-normal text-[#DFAF37]"
    >
      {aboutMeTitle}
    </p>

    <div>
      <div class="flex flex-col w-full max-w-[327px] h-auto gap-4">
        <!-- Role -->
        <p
          class="font-['Gravita_GEO'] font-medium text-sm leading-[163%] tracking-normal text-[#FFFFFF]"
        >
          {aboutMeContent.title}
        </p>

        <!-- Description -->
        <p
          class="font-['Gravita_GEO'] font-[250] font-extralight text-sm leading-[163%] tracking-[2%] text-[#FFFFFF]"
        >
          {aboutMeContent.content}
        </p>
      </div>

      <!-- Image Section -->
      <div class="hidden">
        <img src="about-me.jpg" alt="Portrait of Creative Director" />
      </div>
    </div>
  </div>
</section>
