---
const about_me_title = "ABOUT ME";
const about_me_content = {
  title: "Curator of Human Experience",
  content:
    "Based in the vibrant heart of Mumbai, I am a dynamic Creative Director with a distinguished 14+ year journey of shaping compelling narratives for leading brands across sports, entertainment, and corporate sectors. My work is defined by a passionate commitment to high-impact storytelling that elevates brand integrity and captivates audiences. With a proven track record of leading creative vision from a nascent concept to flawless execution, I excel in managing both broadcast media and branded content. I am adept at directing cross-functional teams of up to 25 professionals, steering project budgets, and have a demonstrated history of boosting production efficiency by up to 40%. I am not just a director but a dedicated partner in building a brand's & creative legacy.",
};
---

<!-- About Me section -->
<section>
  <!-- Wrapper div -->
  <div
    class="container mx-auto flex flex-col lg:flex-row w-full h-auto px-6 py-11 sm:py-20 lg:py-24 lg:gap-32 bg-n-950"
  >
    <div class="lg:w-3/5 lg:flex justify-center flex-col gap-8">
      <!-- Heading -->
      <p
        class="font-serif font-semibold text-4xl sm:text-6xl lg:text-7xl leading-tight tracking-normal text-yellow-700"
      >
        {about_me_title}
      </p>

      <div class="flex flex-col gap-3.5">
        <!-- Role -->
        <p
          class="font-sans font-medium text-sm sm:text-lg lg:text-xl leading-relaxed tracking-normal text-n-50"
        >
          {about_me_content.title}
        </p>

        <!-- Description -->
        <p
          class="font-sans font-light text-sm sm:text-base lg:text-xl leading-relaxed tracking-[2%] text-n-50"
        >
          {about_me_content.content}
        </p>
      </div>
    </div>
    <!-- Image Section -->
    <div class="hidden lg:flex items-center justify-center lg:w-2/5">
      <img
        src="about-me.jpg"
        alt="Portrait of Creative Director"
        class="w-full aspect-[3/4] rotate-[-2.64deg] object-cover p-3 bg-n-50"
      />
    </div>
  </div>
</section>
