---
const aboutMeTitle = "ABOUT ME";
const aboutMeContent = {
  title: "Curator of Human Experience",
  content:
    "Based in the vibrant heart of Mumbai, I am a dynamic Creative Director with a distinguished 14+ year journey of shaping compelling narratives for leading brands across sports, entertainment, and corporate sectors. My work is defined by a passionate commitment to high-impact storytelling that elevates brand integrity and captivates audiences. With a proven track record of leading creative vision from a nascent concept to flawless execution, I excel in managing both broadcast media and branded content. I am adept at directing cross-functional teams of up to 25 professionals, steering project budgets, and have a demonstrated history of boosting production efficiency by up to 40%. I am not just a director but a dedicated partner in building a brand's & creative legacy.",
};
---

<!-- About Me section -->
<section>
  <!-- Heading -->
  <p>
    {aboutMeTitle}
  </p>

  <div>
    <div>
      <!-- Role -->
      <p>
        {aboutMeContent.title}
      </p>

      <!-- Description -->
      <p>
        {aboutMeContent.content}
      </p>
    </div>

    <!-- Image Section -->
    <div>
      <img src="about-me.jpg" alt="Portrait of Creative Director" />
    </div>
  </div>
</section>
