---
---

<!-- Footer Section -->
<section>
    <!-- Contact Section -->
    <div class="">
        <!-- Vector -->
        <img src="/curve-vector.svg" alt="curve-vector" srcset="">

        <!-- Container -->
        <div class="">

            <!-- Section Header -->
            <div class="">
                <!-- content -->
                <div class="">
                    <p>Grab a</p>
                    <img src="/tea-picture.png" alt="tea-picture" srcset="">
                    <p>& let’s talk</p>
                </div>

                <!-- close-line -->
                <p>Always open to talk about Ads, Photography and Virality.</p>
            </div>

            <!-- Socials -->
            <div class="">
                <!-- Icons wrap -->
                <div class="">
                    <!-- Instagram -->
                    <div class="">
                        <img src="/instagram-icon.svg" alt="instagram-icon" srcset="">
                    </div>

                    <!-- Behance -->
                    <div class="">
                        <img src="/behance-icon.svg" alt="behance-icon" srcset="">
                    </div>

                    <!-- Dribble -->
                    <div class="">
                        <img src="/dribble-logo.svg" alt="dribble-logo" srcset="">
                    </div>

                    <!-- LinkedIN -->
                    <div class="">
                        <img src="/linkedin-icon.svg" alt="linkedin-icon" srcset="">
                    </div>
                </div>

                <!-- Contact Info -->
                <div class="">
                    <!-- Email -->
                    <div class="">
                        <p>rahulnike91@gmail.com</p>
                    </div>

                    <!-- Phone Number -->
                    <div class="">
                        <p>+91 98708 92505</p>
                    </div>
                </div>
            </div>

            <!-- Arrow Image -->
            <img src="/arrow.png" alt="arrow" srcset="">

        </div>
    </div>
</section>