---
import StoryCard from "../../components/StoryCard.astro";

const story_title = "Where the Story Began";
const story_tagline =
  "A storyteller shaped by the game, the grind, and the frame.";
---

<section class="flex flex-col gap-8 py-28 px-6">
  <div class="flex flex-col gap-1">
    <!-- Story Header -->
    <p
      class="font-serif font-semibold text-3xl leading-tight tracking-normal text-center text-yellow-700"
    >
      {story_title}
    </p>
    <!-- Story Tagline -->
    <p
      class="font-sans font-light text-base leading-tight tracking-normal text-center text-n-50"
    >
      {story_tagline}
    </p>
  </div>
  <!-- Story Cards -->
  <div class="gap-10 flex flex-col">
    {Array.from({ length: 2 }).map((story, storyIndex) => <StoryCard />)}
  </div>
</section>
