---
const about_me_title = "ABOUT ME";
const about_me_content = {
  title: "Curator of Human Experience",
  content:
    "Based in the vibrant heart of Mumbai, I am a dynamic Creative Director with a distinguished 14+ year journey of shaping compelling narratives for leading brands across sports, entertainment, and corporate sectors. My work is defined by a passionate commitment to high-impact storytelling that elevates brand integrity and captivates audiences. With a proven track record of leading creative vision from a nascent concept to flawless execution, I excel in managing both broadcast media and branded content. I am adept at directing cross-functional teams of up to 25 professionals, steering project budgets, and have a demonstrated history of boosting production efficiency by up to 40%. I am not just a director but a dedicated partner in building a brand's & creative legacy.",
};
---

<!-- About Me section -->
<section class="bg-n-950 flex h-auto w-auto flex-col px-6">
  <!-- Wrapper div added for styling -->
  <div class="flex h-auto w-full flex-col py-11">
    <!-- Heading -->
    <p
      class="text-4xl leading-tight font-semibold tracking-normal text-yellow-700"
    >
      {about_me_title}
    </p>

    <div>
      <div class="flex h-auto w-full flex-col gap-3.5">
        <!-- Role -->
        <p
          class="text-n-50 text-sm leading-relaxed font-medium tracking-normal"
        >
          {about_me_content.title}
        </p>

        <!-- Description -->
        <p class="text-n-50 text-sm leading-relaxed font-light tracking-[2%]">
          {about_me_content.content}
        </p>
      </div>

      <!-- Image Section -->
      <div class="hidden">
        <img src="about-me.jpg" alt="Portrait of Creative Director" />
      </div>
    </div>
  </div>
</section>
