---
// OTHERS //
import Layout from "../layouts/Layout.astro";

// SECTION //
import Hero from "../sections/home/Hero.astro"
---

<Layout>
  <Hero/>
  <img src="/hero.png" alt="" class="w-full" />
  <img src="/dbry-2.png" alt="" class="w-full" />
  <img src="/dbry-3.png" alt="" class="w-full" />
  <img src="/dbry-4.png" alt="" class="w-full" />
  <img src="/dbry-5.png" alt="" class="w-full" />
  <img src="/dbry-6.png" alt="" class="w-full" />
  <img src="/contact.png" alt="" class="w-full" />
  <p class="font-serif">Whatsapp</p>
</Layout>
