---

    

---

<section>
    <!-- Start of the Card-Section -->
    <div>
        <!-- Image Section -->
        <img src="/storyCardImage.png"/>
    <div>
        <!-- The Main Story -->
        <p>HELLOO THIS IS THE SUB-HEADING</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis veritatis earum quae similique illum! Modi architecto quo eum harum beatae ipsum et vero facere, excepturi explicabo expedita nemo nesciunt obcaecati?</p>
    </div>
    </div>
</section>