---
const storyCardContents = {
  story_subtitle: "Where it all began.",
  description_of_story:
    "It all began on a football field, not a film set. After saving a decisive penalty in school, I was interviewed but forgot to thank my coach and teammates. That moment sparked something — I used the clip to express my gratitude, and its impact made me realize the power of storytelling to connect heart and emotion. That’s when my journey as a content specialist and director truly began.",
};
---

<!-- Start of the Card-Section -->
<div class="bg-n-50 m-auto flex flex-col gap-5 px-5 pt-4 pb-7 md:gap-9 md:p-8">
  <!-- Image Section -->
  <img src="/story-card-image.png " class="h-[315px] object-cover" />

  <div class="flex flex-col gap-2.5">
    <!-- The Main Story -->
    <p
      class="text-n-950 text-3xl leading-none font-medium tracking-normal md:text-5xl"
    >
      {storyCardContents.story_subtitle}
    </p>
    <p
      class="text-n-700 text-lg leading-tight font-extralight tracking-normal md:text-xl"
    >
      {storyCardContents.description_of_story}
    </p>
  </div>
</div>
