---
const testimonialCardContents= {
    name:"Nishant Jethva",
    job_Designation:"Founder - Postboy Studios",
    description :"Working with Rahul Yadav is always inspiring. As a director, he blends creativity, dedication, and versatility seamlessly. He doesn’t just execute a script — he elevates it with imagination and depth. With a keen visual sense and “jugaadu” problem-solving, Rahul brings every frame to life without compromising on quality. His commitment, eye for detail, and collaborative spirit make him a director you can truly trust."

}
---
<div>
    <!-- start of the testimonial card -->
    <div>
        <!-- ProfileImage , Name and details -->
         <img src="/testimonial-card-image.jpg"/>
         <p>{testimonialCardContents.name}</p>
         <p>{testimonialCardContents.job_Designation}</p>

    </div>
    <div>
        <!-- Content -->
         <p>{testimonialCardContents.description}</p>

    </div>
    <!-- End of the testimonial card -->
</div>