---
import UserInfo from "./UserInfo.astro";

const { image_Url, name, job_Designation, description } = Astro.props;
---

<div class="bg-n-900 text-n-50 flex flex-col gap-5 rounded-3xl p-6">
  <!-- User Details -->
  <UserInfo
    image_Url={image_Url}
    name={name}
    job_Designation={job_Designation}
  />

  <!-- Description -->
  <p class="text-sm leading-relaxed font-extralight md:text-base lg:text-lg">
    {description}
  </p>
</div>
