---
interface Props {
  image_Url: string;
  name: string;
  job_Designation: string;
}
const { image_Url, name, job_Designation } = Astro.props;
---

<!-- User Info -->
<div class="gap-6 flex flex-row items-center rounded-full">
  <div class="size-16 lg:size-20 rounded-full overflow-hidden border">
    <!-- User Image -->
    <img src={image_Url} alt={`image of the ${name}`} class="object-contain" />
  </div>
  <div
    class="flex flex-col gap-1 font-sans font-medium leading-tight tracking-normal"
  >
    <!--User Details  -->
    <p class="font-sans text-lg md:text-xl lg:text-2xl font-medium leading-tight">{name}</p>
    <p class="text-sm md:text-base lg:text-lg font-medium leading-tight">{job_Designation}</p>
  </div>
</div>
