---

interface Props{
    image_Url:string,
    name:string,
    job_Designation:string,
    
}
const {image_Url , name , job_Designation} = Astro.props;
--- 

<div>
    <!-- User Image -->
    <img src={image_Url} alt={`image of the ${name}`} />
</div>
<div>
    <!--User Details  -->
    <p>{name}</p>
    <p>{job_Designation}</p>
</div>